* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: "avenir", Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

@font-face {
  font-family: "avenir";
  src: url(./Avenir/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "avenirBold";
  src: url(./Avenir/AvenirLTStd-Black.otf);
}

header {
  nav {
    width: 100%;
    ul {
      display: flex;
      list-style-type: none;
      padding: 1rem;
      li {
        padding: 1rem 4rem;
        .index {
          margin-right: 25rem;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}

header nav ul li:hover {
  font-weight: bold;
}

.Intro {
  display: flex;
  flex-wrap: wrap-reverse;
  .leftIntro {
    flex: 3 1 800px;
    margin: 5rem 5rem;
    h1 {
      font-family: "avenirBold", Arial, Helvetica, sans-serif;
      font-size: 3.5rem;
      letter-spacing: 0.3rem;
    }
    p {
      text-decoration: underline;
      margin: 1.5rem;
    }
  }
  .rightProfile {
    flex: 1 1 300px;
    margin: 5rem 1rem;
    img {
      border-radius: 45%;
      width: 20vw;
    }
  }
}

@media screen and (max-width: 1100px) {
  header {
    nav {
      border-bottom: 0.7px solid black;
      ul {
        flex-direction: column;
        display: flex;
        li {
          padding: 1rem 0rem;
          text-align: center;
          .index {
            margin-right: 0rem;
            text-align: center;
          }
        }
      }
    }
  }
  main {
    .Intro {
      .rightProfile {
        display: flex;
        justify-content: center;
        margin: 2rem 0rem;
        img {
          position: static;
          transform: none;
          width: 50vw;
        }
      }
      .leftIntro {
        margin: 0rem 1rem;
        justify-content: center;
        p {
          margin-left: 40vw;
          margin-bottom: 1.5rem;
        }
        h1 {
          font-size: 2.3rem;
        }
      }
    }
  }
}

main section {
  h1 {
    font-family: "avenirBold", Arial, Helvetica, sans-serif;
    font-size: 8rem;
  }
  h2 {
    font-family: "avenirBold", Arial, Helvetica, sans-serif;
    font-size: 4rem;
  }
  .title {
    h1,
    h2 {
      display: inline-block;
    }
  }
  .box-content {
    list-style-type: none;
    li a {
      text-decoration: none;
      font-family: "avenirBold", Arial, Helvetica, sans-serif;
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
    }
  }
  #arrow {
    width: 1.5vw;
    height: 3vh;
    transform: rotate(-45deg);
  }
  .box1Left {
    width: 50%;
    float: left;
  }
  .box1Right {
    width: 3px;
    background-color: #000000;
  }
  .playwater {
    width: 45%;
    float: left;
    img {
      margin: 7rem 2rem;
      width: 20vw;
    }
  }
  .box2Right {
    width: 55%;
    float: right;
    margin: 10rem 0rem;
    .text2 {
      width: 20%;
      float: left;
    }
    .arrow {
      width: 80%;
      float: right;
    }
  }
  .box3Left {
    width: 55%;
    height: 400px;
    float: left;
  }
  .seaview {
    width: 45%;
    float: right;
    img {
      width: 25vw;
      margin: 2rem 2rem;
    }
  }
  .box4Left {
    width: 50%;
    float: left;
  }
  .box4Right {
    width: 50%;
    float: right;
  }
}
